##Hypothesis Testing on 1 sample

In [8]:
import pandas as pd
df=pd.read_csv("toyota.csv")
df.head()

   Price  Age     KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight
0  13500   23  46986   Diesel  90         1          0  2000      3    1165
1  13750   23  72937   Diesel  90         1          0  2000      3    1165
2  13950   24  41711   Diesel  90         1          0  2000      3    1165
3  14950   26  48000   Diesel  90         0          0  2000      3    1165
4  13750   30  38500   Diesel  90         0          0  2000      3    1170

In [9]:
sig=df["Price"].std() #sig=Population standard dev.

In [10]:
import random as rd                           #Sample of size 20(n=20)
samp=rd.sample(list(df['Price']),20)

###Let the hypothesis be as follows:
###Ho:The mean price is <=10000
###Ha:The mean price is >10000
Assume level of significance as 0.05

In [11]:
import numpy as np                                        #Checking hypothesis by p value approach. Similarly we can check for >=10000
import scipy.stats as st
sm=np.mean(samp)        #sample mean of sample
z=(sm-10000)/(sig/(20**(.5)))
pval=st.norm.cdf(z)
if(pval>.05):
  print("Ho not rejected")
else:
  print("Ho rejected")

Ho not rejected

In [12]:
#Suppose we want to check for H0:Mean Price=10000
if(pval>.05/2):
  print("Ho not rejected")
else:
  print("Ho rejected")

Ho not rejected

In [13]:
#Suppose we want to check for H0:Mean Price=10000 but population standard dev. is not known. We use ttest
pval=list(st.ttest_1samp(samp,10000))[1]
if(pval>.05):
  print("Ho not rejected")
else:
  print("Ho rejected")

Ho rejected

##Suppose Ho:50% of the price value in a sample is >=10000
##Ha:50% of price values is not 10000
Assume significance level=0.05

In [14]:
k=0
for i in samp:
  if(i>=10000):
    k=k+1                     #k is the no. of values in the sample >=10000
import statsmodels.stats.proportion as ssp
pval=ssp.proportions_ztest(k,20,.5)[0]
if(pval>.05):
  print("Ho not rejected")
else:
  print("Ho rejected")

Ho not rejected

##Errors in Hypothesis Testing
###1.Type 1 error: Incorrectly rejecting Ho. Probability of committing this error is called level of significance(denoted by alpha)
###1.Type 2 error: Incorrectly accepting Ho. The probability of committing this error is denoted by beta.

In [19]:
#Suppose sample mean is 50.8 and hypothetical mean is 50. Let sigma=2 and n=25. Let alpha=0.05
#Even if assume that population mean is 50, H0:mu<=mu0 is rejected. This is Type 1 error
z=(50.8-50)/(2/5)
pval=1-st.norm.cdf(z)
if(pval>.05):
  print("Ho not rejected")
else:
  print("Ho rejected")

Ho rejected

In [22]:
#Consider the above example. Let us assume that population mean is 52 and sample mean is 50.6 while all other parameters remain same.
#Even if H0 is false, it is not rejected. This is Type 2 error
z=(50.6-50)/(2/5)
pval=1-st.norm.cdf(z)
if(pval>.05):
  print("Ho not rejected")
else:
  print("Ho rejected")
#To calculate beta we first find Z value corresponding to alpha. Then find corresponding sample mean.
za=st.norm.ppf(.95)
xa=((za*2)/5)+50
#Beta is calculted as follows
zb=(xa-52)/(2/5)
beta=st.norm.cdf(zb)
print("Beta value:",beta)

Ho not rejected
Beta value: 0.0003966150045262979