In [ ]:
import pandas as pd                                                             
df=pd.read_csv("toyota.csv")
df.head()

   Price  Age     KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight
0  13500   23  46986   Diesel  90         1          0  2000      3    1165
1  13750   23  72937   Diesel  90         1          0  2000      3    1165
2  13950   24  41711   Diesel  90         1          0  2000      3    1165
3  14950   26  48000   Diesel  90         0          0  2000      3    1165
4  13750   30  38500   Diesel  90         0          0  2000      3    1170

In [ ]:
pd.crosstab(index=df['FuelType'],columns=df['Automatic'],normalize=True)        #Obtaining joint probability values for fueltype and Automatic gear.
                                                                                #Here 0 represents manual gear while 1 represents automatic gear

Automatic         0         1
FuelType
CNG        0.011142  0.000696
Diesel     0.107939  0.000000
Petrol     0.825209  0.055014

In [ ]:
pd.crosstab(index=df['FuelType'],columns=df['Automatic'],margins=True,normalize=True) #Obtaining marginal probability values for fueltype and automatic
                                                                                      #gear. Here the 'all' row and 'all' column contain marginal
                                                                                      #probability values

Automatic         0         1       All
FuelType
CNG        0.011142  0.000696  0.011838
Diesel     0.107939  0.000000  0.107939
Petrol     0.825209  0.055014  0.880223
All        0.944290  0.055710  1.000000

In [ ]:
pd.crosstab(index=df['FuelType'],columns=df['Automatic'],normalize='columns')       #Obtaining conditional probability values P(A|B) where
                                                                                    #A=Fuel type and B=Automatic

Automatic         0       1
FuelType
CNG        0.011799  0.0125
Diesel     0.114307  0.0000
Petrol     0.873894  0.9875